html, 
body{
  height: 100%;
}

body{
  font: 20px sans-serif;
  background: #333;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;    
}

.counter{
  background: yellowgreen;
  text-align: center;
  padding: .1em;
}

.counter button {
    margin: .2em;
    padding: 1em;    
    font-size: 120%;
    min-width: 3em;
    cursor: pointer;
}  